*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2.4rem;
  color: #555;
  background-color: #f5f5f5;
}

h1.title {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  color: rgba(67, 47, 175, 0.15);
}
