*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2.4rem;
  color: #555;
  background-color: #f5f5f5;
}

h1.title {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  color: rgba(67, 47, 175, 0.15);
}

input {
  font-size: 2.2rem;
  font-style: italic;
  padding: 1.2rem;
  border: solid 1px lightgrey;
}
input::placeholder {
  color: rgba(67, 67, 67, 0.15);
}

button {
  padding: 0.4rem;
  border: solid 1px lightgrey;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-section {
  margin-bottom: 0.8rem;
}

.todo-list {
  width: 60%;
}

.todo-list > div {
  font-size: 2.2rem;
  font-style: italic;
  list-style: none;
  padding: 1.2rem;
  background-color: white;
  border: solid 1px lightgray;
  margin-bottom: 3px;
}