*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Hiragino Sans";
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  background-color: white;
}

h1.title {
  text-align: center;
  font-size: 3.2rem;
  margin: 1.2rem 0;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  color: rgba(67, 47, 175, 0.15);
}

.container { 
  width: 100vw;
  overflow-x: scroll;
  padding: 0 1.2rem;
  position: relative;
}

.shift-background {
  background-color: white;
  display: flex;
  width: fit-content;
}

.bg-column {
  background-color: #ECF0F1;
  width: 2.4rem;
  height: 18rem;
  border-right: solid 1px white;
}

.column-label {
  display: block;
  margin-top: 4px;
}

.shift-item {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.shift-item.primary {
  border: solid 1px #20AEE5;
  background-color: white;
}

.shift-name {
  font-size: 1rem;
  font-weight: 600;
  word-break: keep-all;
}

.shift-item.primary > .shift-name {
  color: #20AEE5;
}

.shift-item.shift-1 {
  top: 0.8rem;
  left: calc(1.2rem + 1.2rem); /* padding + pos */
  width: 3.6rem;
  height: 2.6rem;
}