*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2.4rem;
  color: #555;
  background-color: #f5f5f5;
}

button {
  padding: 0.4rem;
  border: solid 1px lightgrey;
  border-radius: 4px;
}

button:focus {
  outline: 0;
}

h1.title {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  color: rgba(67, 47, 175, 0.15);
}

.form-container > form {
  border: solid 1px lightgray;
  margin-bottom: 3px;
  width: 60%;
}

.form-container > form > input {
  width: 100%;
  padding: 1.2rem;
  font-size: 2.2rem;
  font-style: italic;
  border: none;
}

.form-container > form > input::placeholder {
  color: rgba(67, 67, 67, 0.15);
  padding: 0;
}


.form-container,
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-section {
  margin-bottom: 0.8rem;
}

.todo-item {
  width: 60%;
  font-size: 2.2rem;
  font-style: italic;
  list-style: none;
  padding: 1.2rem;
  background-color: white;
  border: solid 1px lightgray;
  margin-bottom: 3px;
}

.todo-item:hover > .delete-button {
  opacity: 1;
}

.delete-button {
  opacity: 0;
  border: none;
  font-size: 1.6rem;
  float: right;
  transition: all 0.1s linear;
  color: gainsboro;
}

.delete-button:hover {
  color: sandybrown;
}